spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/procombat_manager
    username: postgres
    password: 230598Ga@!

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
